
.rotate-45 {
    transform: rotate(45deg);
}
@layer components {

    @font-face {
        font-family: 'Oxygen-Bold';
        src: url('../fonts/Oxygen-Bold.ttf') format('truetype');
        
    }
    
    @font-face {
        font-family: 'Oxygen-Light';
        src: url('../fonts/Oxygen-Light.ttf') format('truetype');
        
    }
    
    @font-face {
        font-family: 'Oxygen-Regular';
        src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
        
    }
    
    @font-face {
        font-family: 'PlayfairDisplay-Italic';
        src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
        
    }
    @font-face {
        font-family: 'PlayfairDisplay-Regular';
        src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
        
    }
    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
        
    }
    .ox-bold{
        font-family: 'Oxygen-Bold';
    }
    .ox-regu{
        font-family: 'Oxygen-Regular';
    }
    .ox-li{
        font-family: 'Oxygen-Light';
    }
    .ft-12{
        font-size: 12px;
    }
    .ft-14{
        font-size: 14px;
    }
    .ft-16{
        font-size: 16px;
    }
    a{
        text-decoration: none;
    }
    /* section zoom effect start */
    .faces-promo {
        --faces-promo-offset: -100px;
        overflow: hidden;
        position: relative
    }
    
    @media only screen and (max-width: 1024px) {
        .faces-promo {
            padding: 50px 0
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo {
            height: 100vh;
            min-height: 850px;
            margin-top: 50px
        }
    }
    
    @media only screen and (min-width: 1025px) and (max-width: 1550px) {
        .faces-promo {
            padding-top: 150px
        }
    }
    
    .faces-promo__img {
        color: inherit;
        display: block;
        transition: all .8s ease;
        will-change: transform, top, left
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img {
            position: absolute
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .faces-promo__img:before {
            font-size: 20px !important;
            left: 13px;
            top: 15px
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:before {
            font-size: 14px !important;
            left: 9px;
            top: 11px
        }
    }
    
    /* .faces-promo__img:hover .faces-promo__img-head {
        -webkit-mask-position: 0 0
    } */
    
    .faces-promo__img:hover .faces-promo__img-body {
        opacity: 1
    }
    
    .faces-promo__img[data-alignment='tl'] {
        transform-origin: 0 0
    }
    
    .faces-promo__img[data-alignment='tr'] {
        transform-origin: 100% 0
    }
    
    .faces-promo__img[data-alignment='cr'] {
        transform-origin: 100% 50%
    }
    
    .faces-promo__img[data-alignment='br'] {
        transform-origin: 100% 100%
    }
    
    .faces-promo__img[data-alignment='bl'] {
        transform-origin: 0 100%
    }
    
    .faces-promo__img[data-alignment='cl'] {
        transform-origin: 0 50%
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(6) {
            left: calc(50% - 570px);
            width: 300px
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(6) {
            top: calc(55% - 540px - var(--faces-promo-offset))
        }
        .faces-promo__img:nth-child(6) .faces-promo__img-head{
            height: 200px;
        }
        .faces-promo__img:nth-child(6) .faces-promo__img-head img{
            @apply h-full object-cover
        }
    }
    
    @media only screen and (min-width: 1025px) {
    
        [data-active='1'] .faces-promo__img:nth-child(6),
        [data-active='2'] .faces-promo__img:nth-child(6),
        [data-active='3'] .faces-promo__img:nth-child(6),
        [data-active='4'] .faces-promo__img:nth-child(6),
        [data-active='5'] .faces-promo__img:nth-child(6),
        [data-distance='5'] .faces-promo__img:nth-child(6) {
            left: calc(50% - 600px);
            top: calc(50% - 570px - var(--faces-promo-offset))
        }
        [data-active='4'] .faces-promo__img:nth-child(4){
            /* top: calc(50% - 570px - var(--faces-promo-offset)) */
        }
    }

    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(6) .faces-promo__img-head:after {
            content: '';
            display: block;
            padding-top: 66.6666666667%;
            width: 100%
        }
    }

    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(1) {
            left: calc(52% + 270px);
            top: calc(50% - 500px - var(--faces-promo-offset));
            width: 300px

        }
        .faces-promo__img:nth-child(1) .faces-promo__img-head{
            width:300px;
            height: 200px;
        }
        .faces-promo__img:nth-child(1) .faces-promo__img-head img{
            width:300px;
           @apply  h-full object-cover object-top
        }
    }
    
    @media only screen and (min-width: 1025px) {
    
        [data-active='6'] .faces-promo__img:nth-child(1),
        [data-active='2'] .faces-promo__img:nth-child(1),
        [data-active='3'] .faces-promo__img:nth-child(1),
        [data-active='4'] .faces-promo__img:nth-child(1),
        [data-active='5'] .faces-promo__img:nth-child(1),
        [data-distance='5'] .faces-promo__img:nth-child(1) {
            left: calc(50% + 300px);
            top: calc(50% - 580px - var(--faces-promo-offset))
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(1) .faces-promo__img-head:after {
            content: '';
            display: block;
            padding-top: 66.6666666667%;
            width: 100%
        }
    }
    
    @media only screen and (min-width: 1025px) and (max-width: 1280px) {
        .faces-promo__img:nth-child(2) {
            left: calc(50% + 320px);
            top: calc(50% - 290px - var(--faces-promo-offset));
            width: 190px
        }
    }
    
    @media only screen and (min-width: 1281px) and (max-width: 1440px) {
        .faces-promo__img:nth-child(2) {
            left: calc(50% + 410px);
            top: calc(50% - 275px - var(--faces-promo-offset));
            width: 200px
        }
    }
    
    @media only screen and (min-width: 1441px) and (max-width: 1550px) {
        .faces-promo__img:nth-child(2) {
            left: calc(50% + 450px);
            top: calc(50% - 255px - var(--faces-promo-offset));
            width: 210px
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(2) {
            left: calc(45% + 450px);
            top: calc(54% - 290px - var(--faces-promo-offset));
            width: 288px;
            height: 245px;
            z-index: 1;
        }
        .faces-promo__img:nth-child(2) .faces-promo__img-head, .faces-promo__img:nth-child(2) .faces-promo__img-head img{
            width: 288px;
            height: 245px;
        }
    }
    
    @media only screen and (min-width: 1025px) {
    
        [data-active='6'] .faces-promo__img:nth-child(2),
        [data-active='3'] .faces-promo__img:nth-child(2),
        [data-active='4'] .faces-promo__img:nth-child(2),
        [data-active='5'] .faces-promo__img:nth-child(2),
        [data-distance='5'] .faces-promo__img:nth-child(2) {
            left: calc(50% + 480px)
        }
    }
        
    @media only screen and (min-width: 1025px) {
    
       
        [data-active='1'] .faces-promo__img:nth-child(2) {
            left: calc(60% + 480px);
            top: calc(60% - 290px - var(--faces-promo-offset));
        }
    }

    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(2) .faces-promo__img-head:after {
            content: '';
            display: block;
            padding-top: 100%;
            width: 100%
        }
    }
    
    @media only screen and (min-width: 1025px) and (max-width: 1280px) {
        .faces-promo__img:nth-child(3) {
            left: calc(50% + 200px);
            top: calc(50% - 120px - var(--faces-promo-offset));
            width: 300px
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(3) {
            left: calc(45% + 290px);
            top: calc(62% - 140px - var(--faces-promo-offset));
            width: 355px;
        }
    }
    
    @media only screen and (min-width: 1701px) {
        .faces-promo__img:nth-child(3) {
            width: 415px
        }
    }
    
    @media only screen and (min-width: 1025px) {
    
        [data-active='6'] .faces-promo__img:nth-child(3),
        [data-active='1'] .faces-promo__img:nth-child(3),
        [data-active='4'] .faces-promo__img:nth-child(3),
        [data-active='5'] .faces-promo__img:nth-child(3),
        [data-distance='5'] .faces-promo__img:nth-child(3) {
            left: calc(50% + 260px);
            top: calc(50% - 40px - var(--faces-promo-offset))
        }
    }
    
    @media only screen and (min-width: 1025px) {
        [data-active='2'] .faces-promo__img:nth-child(3) {
            left: calc(50% + 340px);
            top: calc(50% + 40px - var(--faces-promo-offset))
        }
    }
    
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(3) .faces-promo__img-head:after {
            content: '';
            display: block;
            padding-top: 66%;
            width: 100%
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(4) {
            top: calc(61% - 125px - var(--faces-promo-offset))
        }
        .faces-promo__img:nth-child(4) img{
           height: 225px;
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(4) {
            left: calc(52% - 630px);
            width: 365px;
        }
        .faces-promo__img:nth-child(4) .faces-promo__img-head{
            width: 365px;
            height: 220px;
        }
    }
    
    @media only screen and (min-width: 1025px) {
    
        [data-active='6'] .faces-promo__img:nth-child(4),
        [data-active='1'] .faces-promo__img:nth-child(4),
        [data-active='2'] .faces-promo__img:nth-child(4),
        [data-active='3'] .faces-promo__img:nth-child(4),
        [data-distance='5'] .faces-promo__img:nth-child(4) {
            left: calc(50% - 630px);
            top: calc(50% - 20px - var(--faces-promo-offset))
        }
    }
    
    @media only screen and (min-width: 1025px) {
        [data-active='5'] .faces-promo__img:nth-child(4) {
            left: calc(50% - 580px);
            top: calc(35% + 70px - var(--faces-promo-offset))
        }
    }
    @media only screen and (min-width: 1025px) {
        [data-active='6'] .faces-promo__img:nth-child(5) {
           
            top: calc(10% + 70px - var(--faces-promo-offset))
        }
    }

    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(4) .faces-promo__img-head:after {
            content: '';
            display: block;
            padding-top: 100%;
            width: 100%
        }
    }
    
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(5) {
            left: calc(50% - 710px);
            top: calc(42% - 230px - var(--faces-promo-offset));
            width: 290px;
            z-index: 1
        }
    }
    
    @media only screen and (min-width: 1025px) {
    
    
        [data-active='1'] .faces-promo__img:nth-child(5),
        [data-active='2'] .faces-promo__img:nth-child(5),
        [data-active='3'] .faces-promo__img:nth-child(5),
        [data-active='4'] .faces-promo__img:nth-child(5),
        [data-distance='5'] .faces-promo__img:nth-child(5) {
            left: calc(50% - 740px)
        }
        [data-active='6'] .faces-promo__img:nth-child(5) {
            left: calc(40% - 740px)
        }
    }

    
    @media only screen and (min-width: 1025px) {
        .faces-promo__img:nth-child(5) .faces-promo__img-head:after {
            content: '';
            display: block;
            padding-top: 86%;
            width: 100%
        }
    }
    .galleryslider img {
        border-radius: 27px;
        object-fit: cover;
    }
    /* desktop only */
    @media only screen and (min-width: 768px) {
        .sigleasternew img {
            height: 340px;
        }
        .websitefooterlinks ul{
            min-width: 180px
        }
        .galleryslider img {
            height: 550px;
        }
        body {
            cursor: none;
        }
        .getbox{
            width: 300px;
            height: 240px;
        }
        .subbox.footerbox {
            width: 650px;
        }

        .lifeaterslider .slick-slide {
            padding: 0 0px 0px 40px;
        }
        .volimg{
            top: 50%;
            right: 0%;
            transform: translate(-0%, -50%);
          }
        .galleryslider .slick-slide {
            margin: 0 0px 0px 40px;
        }
        .bgcontainercard{
            min-height: 100vh;
        }
           
        .faces-promo__img-head {
        
            border-radius: 8px;
            overflow: hidden;
            transition: all .5s ease;
            
        }
        .faces-promo__img img {
        /* height: 100%; */
            @apply rounded-20 w-full object-cover absolute;
            /* left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.05); */
            transition: all .5s ease;
        }
    }  
    
    .faces-promo__img-body {
        @apply bg-primary_color_1 rounded-20 text-white ;
        padding: 10px 15px;
        transition: all .5s ease
    }
    .faces-promo__img-body-link svg{
        width: 55px;
    }
    @media only screen and (min-width: 1025px) {
        .faces-promo__img-body {
            opacity: 0;
            position: absolute
        }

    }
    
    .faces-promo__img-body-head {
        font-size: 10px;
        font-family: 'Oxygen-Light';
        letter-spacing: 0.45px;
        line-height: 15px;
    }
    
    @media only screen and (max-width: 1024px) {
        .faces-promo__imgs {
            margin-bottom: 40px
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__imgs {
            height: 100%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: 50% 50%;
            transition: transform .5s ease;
            width: 100%;
            z-index: 1
        }
    }
    
    [data-hover='true'] .faces-promo__imgs {
        transition: all .5s ease
    }
    
    [data-distance='2'] .faces-promo__imgs,
    [data-distance='3'] .faces-promo__imgs,
    [data-distance='4'] .faces-promo__imgs {
        transform: translate(-50%, -50%) scale(1.5)
    }
    
    [data-distance='5'] .faces-promo__imgs {
        transform: translate(-50%, -50%) scale(1.1)
    }
    
    .faces-promo__body {
        text-align: center
    }
    
    @media only screen and (max-width: 1024px) {
        .faces-promo__body {
            margin: 0 auto;
            max-width: 600px
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .faces-promo__body {
            left: 50%;
            max-width: 850px;
            position: absolute;
            top: calc(50% - 180px - var(--faces-promo-offset));
            transform: translate(-50%, -50%);
            transition: all .5s ease;
            will-change: transform, top, left;
            z-index: 5
        }
    }
    
    [data-distance='2'] .faces-promo__body,
    [data-distance='3'] .faces-promo__body,
    [data-distance='4'] .faces-promo__body {
        transform: translate(-50%, -50%) scale(0.8)
    }
    
    [data-active='6'] .faces-promo__body {
        left: calc(50% + 150px);
        top: calc(50% - 60px - var(--faces-promo-offset))
    }
    
    [data-active='1'] .faces-promo__body {
        left: calc(50% - 230px);
        top: calc(50% + 20px - var(--faces-promo-offset))
    }
    
    [data-active='2'] .faces-promo__body {
        left: calc(50% - 180px);
        top: calc(50% - 160px - var(--faces-promo-offset))
    }
    
    [data-active='3'] .faces-promo__body {
        left: calc(50% - 180px);
        top: calc(50% - 390px - var(--faces-promo-offset))
    }
    
    [data-active='4'] .faces-promo__body {
        left: calc(50% + 180px);
        top: calc(50% - 390px - var(--faces-promo-offset))
    }
    
    [data-active='5'] .faces-promo__body {
        left: calc(50% + 180px);
        top: calc(50% - 110px - var(--faces-promo-offset))
    }
    
    .faces-promo__body h2 {

        transition: all .5s ease
    }
    
    .faces-promo__img-body-link span {
        font-family: 'Oxygen-Bold';
        font-size: 9px;
        line-height: 18px;
        color: white;
    }

    
    [data-distance='5'] .faces-promo__body h2 {
        transform: scale(1.2)
    }
    

    
    @media only screen and (min-width: 1025px) {
        .faces-promo__cta {
            margin: 0 auto;
            /* max-width: 250px; */
            padding-top: 295px;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: .5rem;
    }
/*     
    .faces-promo__cta .button[href^='//']:hover:after,
    .faces-promo__cta .button[href^='http://']:hover:after,
    .faces-promo__cta .button[href^='https://']:hover:after {
        right: -2px
    } */
     /* section zoom effect end */
    .scrollnextbtn > span{
        margin-top: 10px;
    }
     .addvitag {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        display: flex;
    }
    .addvitag img, .addvitag svg{
        margin: auto;
    }
     .toggle-icon {
        transition: all .4s ease; 
    }
     .herovideooverlay {
        @apply absolute w-full top-0 h-full flex items-center justify-center flex-col text-center;
        background-color: #0A203B60;
    }

    .herosliderslick .singleheroslide{
        height: 100vh;
        @apply relative
    }
    .rewampdm p{
        font-family: 'Oxygen-Regular';
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.53px;
    }
    .heading1{
        font-family: 'PlayfairDisplay-Regular';
        letter-spacing: 1.8px;
        font-size: 60px;
        line-height: 80px;
    }
    .heading2{
        font-family: 'Oxygen-Light';
        letter-spacing: 0px;
        font-size: 48px;
        line-height: 65px;
    }
    .heading3{
        font-family: 'Oxygen-Light';
        font-size: 44px;
        line-height: 55px;
    }
    .headingitalic{
        font-family: 'PlayfairDisplay-Italic';
        letter-spacing: 0.8px;
        font-size: 32px;
        line-height: 40px;
    }
    .subhead{
        font-family: 'Oxygen-Bold';
        letter-spacing: 1.35px;
        font-size: 21px;
        margin: 0px;
    }
    .abold{
        font-family: 'Oxygen-Bold';
        letter-spacing: 0.8px;
        font-size: 16px;
        line-height: 32px;
    }
    .opencoperate{
        border: 1px solid white;
    }
    .heroslidercontrols{
        bottom: 60px;
        right: 7%;
        @apply absolute flex items-center gap-6
        
    }

    .slidercount {
        font-family: 'Nunito';
        font-size: 21px;
        font-weight: 300;
    }

    .singleheroslide video{
        object-position: top;
    }
    .astercounts{
        background-image: url(../images/astercountsbg.png);
        min-height: 100vh;
        background-position: 50%;
        background-attachment: fixed;
        background-size: cover;
    background-repeat: no-repeat;

    }
    .astercount{
        @apply text-primary_color_2 m-0;
        font-size:85px;
        line-height: 54px;
        font-family: 'Oxygen-Regular';
    }
    .eachcount span{
        font-family: 'Oxygen-Regular';
        @apply text-primary_color_2;
        font-size:40px;
    }
    .eachcount{
        @apply bg-white py-11 px-16 rounded-30
    }
    .counttext{
        font-size: 21px;
        line-height: 32px;
        letter-spacing: 1.05px;
        font-family: 'Oxygen-Regular';
        @apply pt-5 m-0
    }
    .eachbranddesc{
        @apply bg-white rounded-[27px] relative bottom-[45px] py-6 px-5
    }
    .rw-eachbrandimg img{
        @apply rounded-[27px];
        height: 360px;
    }
    .ourbrandslider .slick-slide {
        padding: 0 0px 0px 40px;
    }

    .asternewsslider .slick-slide {
        padding: 0 0px 0px 40px;
    }
    .rw-eachbrandimg img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    .eachbranddesc img{
        height: 60px;
    object-fit: contain;
        @apply mx-auto pb-4;
    }
    .videopopupcont{
        margin-bottom: 35px;
    }
    .eachbranddesc p{
        font-size: 16px;
        font-family: 'Oxygen-Light';
        line-height: 24px;
        min-height: 200px
    }
    .brandlinks {
        @apply flex items-center justify-center ;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.35px;
        font-family: 'Oxygen-Light';
    }
    .brandlinks a, .brandlinks span{
        @apply flex items-center gap-2;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.35px;
        font-family: 'Oxygen-Light';
    }
    .brandlsidercontrol{
        right: 7%;
    }

    .ourpromise .bgcontainercarddiv{
        @apply bg-cover bg-no-repeat;
         background-image: url(../images/ourpromise.png);
         background-position: 50%;
         background-attachment: fixed;
         height:90vh;
        
     }
     .cardconntaineroverlay{
        @apply absolute w-full top-0 h-full flex items-center justify-center flex-col text-center;
        background-color: #00000040;
    }
    .expertdoctorseclinks span, .aw-title span{
        font-family: 'Oxygen-Bold';
        letter-spacing: 1.05px;
        font-size: 21px;
        line-height: 55px;
    }
    .expertdoctorseclinks, .aw_accordion {
        border-bottom: 1px solid #164d924f;
    }
    .aw-desc {
        display: none;
    }

    .awardsaccordions p{
        font-size: 16px;
        line-height: 28px;
    }
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        z-index: 1000;
      }
      
      .popup-content {
        text-align: center;
      }
      
      .close {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
      }
      
      #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }
      .rw-moopan-desc p{
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.9px;
      }
      .moopenimgimg{
        @apply w-full md:w-[700px] object-contain;
      }
      .siglelifeaster img{
        @apply w-full object-cover rounded-30 h-[550px]
      }
      .lifeoverlay{
        @apply absolute top-0 rounded-30 bg-[#00193850] w-full h-full flex justify-center items-center md:items-end
      }
      .lifeoverlay h5{
        @apply md:mb-14 text-white
      }
      .siglelifeaster:nth-of-type(even) .sliderspacing {
       @apply md:mt-20
    }
    .myasterhead{
        font-family: 'Oxygen-Light';
        font-size: 40px;
        line-height: 54px;
    }
    .an_blankwidth{
        @apply md:w-[20vw];
    }
    .an_nnewswidth{
        @apply w-full md:w-[79vw];
    }
    .an_vall{
        font-family: 'Oxygen-Regular';
    }
    .rw-header {
        @apply absolute w-full z-10;
    }
    .rw-menu span {
        font-size: 16px;
        font-family: 'Oxygen-Regular';
    }
    .an_nnewswidth{
        z-index: 1;
    }
    .asternewscontroldesktop div{
        z-index: 2;
    }
    .galleryslidercontroldesktop, .brandslidercontroldesktop div, .lifeaterslidercontroldesktop div{
        z-index: 1;
    }

    /* new css */
   
    
 
      .rwlink:hover svg #Path_21125 {
        animation: drawLine 3s forwards;
      }
    
      @keyframes drawLine {
        0% {
          stroke-dasharray: 0;
          stroke-dashoffset: 32;
        }
        100% {
          stroke-dasharray: 32;
          stroke-dashoffset: 0;
        }
      }
    
      /* .rwlink:hover svg #Path_21124 {
        animation: drawLine2 3s forwards;
      } */
    
      @keyframes drawLine2 {
        0% {
          stroke-dasharray: 0;
          stroke-dashoffset: 65;
        }
        100% {
          stroke-dasharray: 65;
          stroke-dashoffset: 0;
        }
      }
      /* .rwlink:hover #Icon_feather-arrow-right path {
        animation: moveArrow 0.3s ease-in-out forwards;
      } */

      body > img{
        display: none;
      }

      .offcanvas-sidebar {
        @apply right-[-100vw] w-[100vw] md:w-[45vw] md:right-[-45vw];
        position: fixed;
        top: 0;
        height: 100%;
       
        background-color: #164d92f2;
        color: #fff;
        transition: right 0.3s ease;
        z-index: 101;
    }
    
    .offcanvas-sidebar.open {
        right: 0;
    }
    
    .offcanvas-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #00000017;
        display: none;
        z-index: 100;
    }
    
    .subbox p a {
        color: #0A203B;
        text-decoration: underline;
    }
    .offcanvas-overlay.show {
        display: block;
    }
    .sidercontrol svg[aria-disabled="true"]{
        opacity: 0.5;
        cursor: default;
    }
    .menucloseopen{
        @apply md:min-w-[80px];
    }
    .socialsoffacvas svg {
        border: 1px solid white;
        border-radius: 50px;
    }
    .offcanvas-sidebar a, .offcanvaaddr span{
        color: #F0F0F0;
        letter-spacing: 0.53px;
        font-size: 16px;
        font-family: 'Oxygen-Regular';
    }
    .offcansubmenu a{
        font-size: 14px;
    }
    .offcanvaaddr a, .offcanvaaddr span, .websitemetas a{
        font-size: 13px;
    }
    .offcanmainmenu li {
        position: relative;
    }
    
    .offcansubmenu {
        transition: all .5s ease;
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 200px;
        padding-left: 35px;
        z-index: 102;
        border-left: 1px solid #3869a8;
    }
    .revampfooter .footer-search form input {
        background-color: #FCEBF1;
        border-radius: 18px;
    }
    .offcanmainmenu li:hover > .offcansubmenu,
    .offcansubmenu:hover {
        display: block;
    }
    .offcanmainmenu li {
        padding-bottom: 5px;
    }
    .footercol li {
        padding-bottom: 5px;
    }
    .offcansubmenu a, .offcanvaaddr a{
        font-family: 'Oxygen-Light';
    }
    .offcanmainmenu a:hover{
        font-family: 'Oxygen-Bold';
        color: white;
    }
    .websitefooterlinks a:hover{
        font-family: 'Oxygen-Regular';
        color: black;
    }
    .offcanvaaddr span{
        font-family: 'Oxygen-Bold';
    }
    .offcanmainmenu li.has-submenu > a::after {
        content: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8 4l8 8-8 8" stroke="white" stroke-width="2" fill="none"/></svg>');
        position: absolute;
        right: 0px;
        left: 162px;
        top: 50%;
        transform: translateY(-50%);
    }
    .offcanmainmenu a {
        transition: all 2s;
    }
    .asternewcat {
        font-family: 'Oxygen-Regular';
        font-size: 17px;
    }
    .an_newmetas {
        @apply p-2
    }
    .asternewhead{
        font-family: 'Oxygen-Bold';
        font-size: 25px;
        padding: 10px 0px;
    }

    .subbox h3, .f-addlabel{
        font-family: 'Oxygen-Regular';
    }
    .footerbox h3{
        font-size: 34px;
        padding-bottom: 20px;
    }

    .footerlinkhead, .dmaddress h6{
        color: black;
        font-family: 'Oxygen-Bold';
        font-size: 16px;
        padding-bottom: 5px;
    }
    .footerlinkhead{
        padding-bottom: 15px;
    }
    .websitefooterlinks a{
        color: black;
        font-size: 16px;
        font-family: 'Oxygen-Light';
    }
    .websitemetas a, .websitemetas span{
        font-size: 16px;
        color: black;
    }
    .websitemetas a{
        font-family: 'Oxygen-Light';
    }
    .bottomfooter a, .bottomfooter span {
        font-size: 12px;
        font-family: 'Oxygen-Regular';
    }
    .ptslidercont{
        font-size: 42px;
        line-height: 60px;
    }
    .ptsection {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
      }
      
      .ptslide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
      }
      .bgoverlay {
        background-color: #00000020;
      }
      .bgbluryes{
          background-color: #00000036;
      
        -webkit-backdrop-filter: blur(30px);
      
        backdrop-filter: blur(30px);
        @apply bg-no-repeat bg-cover;
      
      }
      .pt-dropdown{
        border-radius: 20px 0px 0px 20px;
      }
      .ptslidercenter{
        @apply justify-center items-center
      }
      .ptslidercenter .ptslidercont{
        @apply max-w-[1100px] text-center
      }
      .ptsliderend{
        @apply items-end
      }
      .ptsliderend .ptslidercont{
        @apply max-w-[750px] 
      }
      .ptsliderstart{
        @apply items-start
      }
      .ptsliderstart .ptslidercont{
        @apply max-w-[750px] 
      }
      .ourexperthead{
        border-bottom: 1px solid #ffffff36;
      }
      .ptslide{
        @apply bg-cover bg-no-repeat
      }
      .ourexpertheaddiv{
        z-index: 1;
      }
      .ptslidermeta{
        border-radius: 0px 30px 30px 0px;
        background-color: #0A203B;
        padding: 45px 60px;
      }
      .docwid-head {
        border-radius: 27px 0px 0px 0px;
    }
      .widdocts{
        background-color: #F0F0F0;
        border-radius: 0px 0px 0px 27px;
        max-height: 430px;
        overflow-y: scroll;
      }
      .doctwidcont{
        top: 50%;
        transform: translateY(-50%);
      }
      .eachwigdoct {
        border-bottom: 1px solid #00000050;
        margin: 10px 0px;
    }
    .eachwigdoct > div {
        padding: 12px 10px;
        border-bottom: 1px solid #00000020;
    }
    .doctwidcont {
        right: -342px; /* Initial position off screen */
        transition: right 0.3s ease; /* Smooth transition */
        z-index: 1;
    }
    .eachwigdoct > div:hover {
        background-color: #e2e7edcc;
    }
    .scrollnextbtn{
        @apply text-center flex flex-col justify-center items-center absolute left-0 right-0 bottom-7 cursor-pointer;
    }
    .siglelifeaster img, .sigleasternew img {
        @apply w-full;
        transition: transform 1s ease; 
    }
    .siglelifeaster a{
       @apply overflow-hidden rounded-30
    }
    .sigleasternew > div{
        @apply overflow-hidden rounded-20
     }
     .rw-sociallinks a {
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 100px;
        transition: transform 1.5s ease; 
    }
    @keyframes arrow
    {
    0% {opacity:0; transform:translateY(1px)}
    80% {opacity:1; transform:translateY(5px)}
    100% {opacity:0; transform:translateY(5px)}
    }
    
    .anim-path {
        animation: drawLine 2s infinite;
    }
    .rw-sociallinks a:hover svg{
        transform: scale(1.1); 
    }
    .siglelifeaster a:hover img, .sigleasternew:hover img {
        transform: scale(1.2); 
    }
    .siglelifeaster .sliderspacing a >div{
        width: 100%;
    }
    .brandlinks span{
        @apply text-black
    }
    .brandlinks a:first-of-type {
        border-right: 1px solid #0000004d;
    padding-right: 15px;
    }
    .asterdate{
        @apply text-black;
        font-family: 'Oxygen-Regular';
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.53px;
    }
    
    .brandlinks a:last-of-type {
    
        padding-left: 15px;
    }
    .offcanmainmenu, .websitefooterlinks ul, .offcansubmenu, .bt-footer {
        list-style: none;
    }
    .offcanvaaddr >div{
        @apply items-center;
    }
    footer {
        padding: 0px;
        background-color: unset;
    }
    .subbox p {
        font-family: 'OXYGEN-LIGHT';
        color: #0A203B;
        font-size: 14px;
        padding-top: 10px;
    }
    .lifeatastercontrol svg, .galleryslidercontrol svg{
        border-radius: 100px;
        border:1px solid #00B48D;
    }
    .popup-content video{
        max-width: 800px;
        width: 800px;
        height: 500px;
        margin: 20px 0px 0px;
        border-radius: 20px;
    }
    .ourbrandsec .subhead{
        padding-bottom: 18px;
    }
    .ourbranddiv{
        margin-top: 35px;
    }
    .expertdoctorsec .subhead, .hwawards .subhead{
        padding-bottom: 15px;
    }
      /* mobile only */
     @media only screen and (max-width: 768px) {
        .heading1 {
            font-size: 42px;
            line-height: 48px;
        }  
        .rewampdm p, .asterdate {
            font-family: 'Oxygen-Light';
            font-size: 16px;
            line-height: 24px;
        }
        .menuexitarrow{
            transform: rotate(180deg);
            display: flex;
            justify-content: end;
        } 
        .astercount {
            padding: 0px;
            font-size: 32px;
            line-height: 19px;
        }  
        .counttext {
            font-size: 10px;
            line-height: 9px;
            padding: 0px;
        } 
        .faces-promo__img-head img {
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
            height: 361px;
        }
        .headingitalic{
           
                font-size: 21px;
                line-height: 10px;
        }
        .mbcontainer{
            margin: auto;
            padding-right: 30px;
            padding-left: 30px;
        }
        .herovideooverlay a span{
            font-family: 'Oxygen-Light';
        }
        .herovideooverlay a {
            padding-top: 20px;
        }
        .slidercount {
            font-family: 'Oxygen-Light';
            font-size: 16px;
        }
        .heroslidercontrols{
            gap:10px;
        }
        .sidercontrol svg {
            width: 30px;
            height: 30px;
        }
        .heading3, .heading2, .myasterhead{
            font-family: 'Nunito';
            font-size: 27px;
            line-height: 36px;
        }
        .astercounts {
            padding: 40px 0px;
        }
        .eachcount {
            width: 47%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px 20px;
        }
        .eachcount > div {
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .astercounts {
            background-position: top right;
            background-image: url(../images/GfwithGs.jpg);
        }
        .astercounts .rwlink{
            margin-top: 250px;
        }
        .subhead {
            font-size: 16px;
        }
        .facepromocontrol svg {
            width: 30px;
            height: 30px;
            border: 1px solid #164D92;
            border-radius: 50px;
            margin-bottom: 20px;
        }
        .faces-promo__img-body {
            text-align: center;
            
        }
        .faces-promo__img-body-head, .faces-promo__img-body-link span{
            font-size: 16px;
            line-height: 24px;
        }
        .ourpromise .rwlink{
           
            margin-top: 50px;
        }
        .ourpromise .rwlink span{
            font-size: 14px;
        }
        .expertdoctorsec, .hwawards {
            padding: 0px;
        }
        .expertdoctorsec img, .hwawardmainimg img, .myastermainimg{
            height: 330px;
        }
        .expertdoctorseclinks span, .aw-title span {
            font-size: 16px;
            line-height: 50px;
        }
        .galleryslider img{
            height: 365px;
            object-fit: cover;
            border-radius: 20px;
        }
        .aw_accordion p {
            text-align: start;
            font-size: 14px;
        }
        .siglelifeaster img {
            height: 400px;
        }
        .lifeoverlay h5 span{
            font-size: 27px;
        }
        .asternews h2 br{
            display: none;
        }
        .asternewhead{
            font-size: 21px;
        }
        .websitefooterlinks a, .websitemetas a, .websitemetas span {
            font-size: 14px;
        }
        .footerlinkhead {
            padding-bottom: 10px;
        }
        .footercol{
            flex:1 1 40%;
        }
        .websitemetas p {
            margin: 0px;
        }
        .subbox {
            width: 120%;
            margin-left: -10%;
        }
        .footerbox h3 {
            font-size: 27px;
            padding-bottom: 10px;
        }
        .getbox p{
            font-family: 'Oxygen-Regular';
        }
        .ptslidercont {
            font-size: 32px;
            line-height: 1.1875em;
        }
        .pt-dropdown h6, .pt-otherspec a, .ptsliderlink span {
            font-size: 12px;
        }
        .ptslideinnner h1, .ourexperthead .subhead{
            font-size: 13;
        }
        .maindocinfo .ox-bold{
            font-size: 18px;
        }
        .maindocinfo h5{
            font-size: 16px;
        }
        .maindocinfo p{
            font-size: 14px;
        }
        .maindocinfodiv{
            padding: 10px 0px 0px;
            justify-content: end;
        }
        .maindocinfodiv .ptslidercont {
            font-size: 28px;
        }
        .ps-docimg {
            width: 250px;
            margin: auto;
        }
        .eachptstoryin{
            width: 100%;
        }
        .ptslidermeta {
            border-radius: 18px;
            padding: 55px 20px 25px;
            margin-top: -35px;
        }
        .revampfooter {
            text-align: start;
        }
        .addvitag img {
            width: 65px;
        }
        .offcansubmenu {
            background-color: #164d92f2;
            height: 78vh;
            width: 100%;
            left: 500px;
        }
        .doctwidcont {
            right: -311px;
        }
        .eachptstoryin img {
            height: 240px;
        }
        .popup-content video {
            width: 88vw;
            height: 300px;
        }
        .popup {
            padding: 10px;
        }
        .offcansubmenu {
            padding-top: 0px;
            padding-left: 5px;
            border-left: unset;
        }
        .btn-go-back::before {
            content: '\0073';
            font-family: 'Glyphter';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            rotate: 270deg;
            display: block;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 300;
            line-height: 1;
        }
        .offcanvaaddr {
            margin-top: 20px;
        }
        .offcanvaaddr .flex span {
            min-width: 100px;
            padding-top: 3px;
        }
        .offcanvaaddr >div {
            align-items: self-start;
            padding-bottom: 6px;
        }
        

      }
}

.submitsub{
    position: absolute;
    top: 0%;
    right: 14px;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap:10px;
}
.submitsub span{
    font-size: 14px;
}
.galleryslider-left.slick-disabled,
.galleryslider-right.slick-disabled
{
  display: none;
}
.cursor {
    border-radius: 50%;
    background: #00B48D80;
    width: 25px;
    height: 25px;
    pointer-events: none;
    position: absolute;
    z-index: 2555;
    transition: all .3s ease-out;
    transition-property: border-radius;
    animation: animCursor .6s infinite alternate;
  }
  
  .cursor.focus {
    border-radius: 50%;
    transform: scale(2.2);
    animation: animScale .7s infinite alternate;
  
  }
  @keyframes animCursor {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(.7);
    }
  }
  .cursor.pre-services {
    background-image: url(../images/svg/leftarrow.svg);
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .cursor.next_services {
   
    background-image: url(../images/svg/rightarrow.svg);
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* transform: rotate(30deg); */
  }